@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "TT Lakes", sans-serif;
}
.brands-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brands {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;


}

.brands {
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
}

.brands__fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 81px;
  z-index: 10;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  pointer-events: none;
}

.brands__title {
  padding: 16px;
  background-color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  font-family: "TT Lakes", sans-serif;

}

.brands__item {
  width: 224px !important;
  height: 72px !important;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.brands__arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.brands__arrow:hover {
  opacity: 0.7;
}

.swiper-pagination {
  position: relative !important;
  text-align: center;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #DDDDDD !important;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC !important;
}

.brands-grid {
  display: none;
}
.brands-grid.expanded {
  max-height: none;
}
.toggle-btn {
  display: none;
  margin-top: 16px;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  margin-top: 16px;
  margin-left: 16px;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1b1c21;
  background: none;
  border: none;
  cursor: pointer;
  gap: 8px;
  align-items: center;
}

.brands__arrow {
  transition: opacity 0.3s ease;
}

.brands__arrow:hover {
  opacity: 0.7;
}

.brand__btn {
  transition: opacity 0.3s ease;
}

.brand__btn:hover {
  opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .brands__slider {
    display: none !important;
  }

  .brands-section {
    gap: 24px;
  }
  .brands{
    display: none;
    /* max-width:768px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px; */

  }
  .brands__title {
    padding: 16px 0 16px 24px;
    margin: 0;
  }
  .brand {
    width: 224px ;
    height: 72px ;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  
  }
  .brands-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 16px 24px;
    padding-left: 32px;
    /* padding-right: 32px; */
    max-width: 100%;
  }
  .brand__hiden {
    display: none;
  }
  .brand__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s ease;
  }

  .toggle-btn {
    margin: 0;
    display: flex;
    gap: 8px;
    padding-left: 25px;
  }
  .toggle-btn__text{
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .brands-grid.expanded .brand__hiden {
    display: flex; 
  }
}

@media (min-width: 1120px) and (max-width: 1199px) {
  .brands__slider {
    display: none !important;
  }
  .brands{
    display: none;
  }
  .brands__title {
    padding: 16px 0 16px 32px;
    margin: 0;
  }
  .brands-section {
    gap: 24px;
  }

  .brand {
    width: 224px ;
    height: 72px ;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  
  }
  .brands-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 16px 24px;
    padding-left: 32px;
    max-width: 1120px;
  }
  .brand__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s ease;
  }
  .toggle-btn {
    margin: 0;
    display: flex;
    gap: 8px;
    padding-left: 25px;
  }

  .toggle-btn__text{
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  }

  .brand__hiden {
    display: none;
  }

  .brand__hiden:nth-child(7)
  
  {
    display: flex;
  }
  .brand__hiden:nth-child(8)
  
  {
    display: flex;
  }
  .brands-grid.expanded .brand__hiden {
    display: flex; 
  }
}


@media (min-width: 1200px) {

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 16px 24px;
    padding-left: 24px;
    padding-right: 24px;
    /* overflow: hidden; */
  }

  /* .toggle-btn {
    display: none;
  } */

  /* .brand__hiden {
    display: none;
  } */

  .brands__slider {
    display: none !important;
  }
  
  .brand {
    width: 224px ;
    height: 72px ;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  
  }

  .brand__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.3s ease;
  }
}

